*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

/* NAV */

nav{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(8px);
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav a{
color:white;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#00ffd5;
}

/* HERO */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
}

.typing{
color:#00ffd5;
}

.hero p{
margin-top:10px;
opacity:0.8;
}

.buttons{
margin-top:25px;
}

.btn{
padding:12px 25px;
margin:10px;
border-radius:30px;
text-decoration:none;
background:#00ffd5;
color:black;
transition:0.3s;
}

.secondary{
background:transparent;
border:2px solid #00ffd5;
color:white;
}

.btn:hover{
transform:scale(1.1);
}

/* SECTION */

section{
padding:70px 100px;
text-align:center;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-top:30px;
}

.skills-grid div{
padding:15px;
background:rgba(255,255,255,0.1);
border-radius:15px;
transition:0.3s;
}

.skills-grid div:hover{
background:#00ffd5;
color:black;
}

/* CARDS */

.card{
background:rgba(255,255,255,0.1);
padding:25px;
margin:20px auto;
width:300px;
border-radius:20px;
transition:0.4s;
}

.card:hover{
transform:translateY(-12px);
}

/* ANIMATION */

.fade{
opacity:0;
transform:translateY(40px);
transition:1s;
}

.fade.active{
opacity:1;
transform:translateY(0);
}

footer{
text-align:center;
padding:20px;
background:black;
}
